
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>產品資料新增作業</title>
</head>
<body>
    <h2>
        產品資料新增作業
    </h2>

    <from uiactions="/SimpleBind/">

        <p>品號:<input id="pId" name="pId" type="text" /></p>
        <p>品名:<input id="pName" name="pName" type="text" /></p>
        <p>單價:<input id="price" name="price" type="text" /></p>
        <p><input id="Submit1" type="submit" value="新增商品" /></p>




    </from>
</body>
</html>
